venv/
.env
# Python crap
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.venv/

# Your unwanted folder
faiss_pipeline/vectore_store/
faiss_schema_pipeline/vectore_store_schema
data
sql
tools
utilis
nl_sql_audit.log
test.py
slk.py
vector_store/

# db_insertion documentation
db_insertion/*.txt
db_insertion/readme.md
db_insertion/README.md